$fonts__heading: 'Georgia', serif;
$font___body: 'Helvetica', sans-serif;

$color__blue: rgb(49, 49, 156);
$color__red: #ff7700;
$color__brightRed: rgb(255, 0, 0);
$color__White: rgb(255, 255, 255);
$color__black: rgb(0, 0, 0);

$color__link: $color__red;
$color__link-hover: lighten($color__link, 15%);
